<div class="container" >
 
    <div class="row " >
        <div class="col-md-offset-2   mx-auto " style="background-color:skyblue; position: center;">
          <div class="panel panel-default">
              <div class="panel-heading text-center" >
                      <ul class="nav nav-tabs"  style="position: center;">
                          <li class="nav-item  ">
                              <a class="nav-link "  data-toggle="tab" routerLink="/login">Login</a>
                            </li>
                        <li class="nav-item  ">
                          <a class="nav-link "  data-toggle="tab" routerLink="register">Register</a>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-body">
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    
